/* purgecss start ignore */
@tailwind preflight;
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

/* You can add custom styles below if needed */

.bg-div {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../../assets/CORE-background.png");
}

.bg-card{
  background-color: rgba(255, 255, 255, 0.90);
}
